@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
This document will outline how we, Space Wizards Federation, collect and handle your data. Both on first-party Space Station 14 (SS14) servers, as well as our other services like the SS14 authentication server and launcher.

<p>
Because we host both first-party SS14 servers and the authentication server and launcher also used by third-party SS14 servers, this document will be split in two: the <strong>authentication hub</strong> and <strong>official servers</strong>.

<h2 id="authentication-hub">Authentication Hub Privacy Policy</h2>

This section of the privacy policy applies if you use our official SS14 authentication server and/or launcher.

<p>
We collect only data you enter into the website or launcher to register your account and/or change your account preferences:
<ul>
    <li>Email address</li>
    <li>Password (stored hashed+salted)</li>
    <li>Username</li>
    <li>Time of registration</li>
    <li>Randomly generated UUID to identify your account across SS14</li>
</ul>

<p>
We use your email address to confirm validity of your account and may send you necessary emails for administration of the authentication server in the future. <strong>We will not send you any form of marketing or promotional emails.</strong>

<p>
Your email address and/or username can be used to log you in into our services, combined with your password of course.

<p>
Your username, account UUID and account creation time are considered public information that will be shared with any SS14 servers you play on. We do not share any other data such as your email address with game servers.

<h2 id="game-servers">Game Server Privacy Policy</h2>

<p>
This section of the privacy policy applies only if you play on our first-party SS14 servers.

<p>
We log all connections you make to our game servers, storing IP address used to connect and your account UUID/name. All in-game actions you take may also be logged, only directly associated with your account UUID. We also store all data you explicitly enter such as your character preferences in-game.

<p>
Connection logs (including IP) are shared with trusted server administrators for enforcement of server rules such as, but not limited to, enforcing server bans. Connection logs are not shared publically.

<p>
Logs of in-game actions may be made public for anybody to view, once again for the purposes of rule enforcement. This includes private conversations had with server administrators in-game.

<p>
See our <a asp-area="" asp-controller="Home" asp-action="Contact">contact</a> page for any questions you may have.