@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
This document will outline how we, Space Wizards Federation, collect and handle your data. Here are the first-party services we manage for Space Station 14 (SS14), covered by this privacy policy:
<dl>
    <dt>SS14 Authentication Hub</dt>
    <dd>Manages your SS14 account and is used by the official launcher whenever you play on servers.</dd>
    
    <dt>Wizard's Den SS14 servers</dt>
    <dd>Official game servers (named "Wizard's Den") ran by us. Only relevant if you actually connect and play on these servers.</dd>
    
    <dt><a href="https://forum.spacestation14.io/">SS14 Forums</a></dt>
    <dd>Official forums for SS14. Only relevant if you connect to these forums.</dd>
</dl>

<h2 id="authentication-hub">Authentication Hub Privacy Policy</h2>

This section of the privacy policy applies if you use our official SS14 authentication server and/or launcher.

<p>
We collect only data you enter into the website or launcher to register your account and/or change your account preferences:
<ul>
    <li>Email address</li>
    <li>Password (stored hashed+salted)</li>
    <li>Username</li>
    <li>Time of registration</li>
    <li>Randomly generated UUID to identify your account across SS14</li>
    <li>Patreon user ID and membership tier (if you choose to <a asp-area="Identity" asp-page="/Account/Manage/ManagePatreon">link your Patreon account</a>)</li>
</ul>

<p>
We use your email address to confirm validity of your account and may send you necessary emails for administration of the authentication server in the future. <strong>We will not send you any form of marketing or promotional emails.</strong>

<p>
Your email address and/or username can be used to log you in into our services, combined with your password of course.

<p>

The following data is considered public information that may be queried for or shared to game servers you play on:
<ul>
    <li>username</li>
    <li>account UUID</li>
    <li>account creation time</li>
    <li>Patreon membership tier (if you choose to <a asp-area="Identity" asp-page="/Account/Manage/ManagePatreon">link your Patreon account</a>)</li>
</ul>

We do not share any other data such as your email address (via game servers or API) without your explicit consent.  

<h2 id="game-servers">Game Server Privacy Policy</h2>

<p>
This section of the privacy policy applies only if you play on our first-party SS14 servers.

<p>
Some terminology used in this section:

<dl>
    <dt>Hardware ID (HWID)</dt>
    <dd>A hashed identifier generated from your computer's hardware or OS installation.</dd>
</dl>

<p>
We log all connections you make to our game servers, storing IP address, HWID and account UUID/name used to connect. All in-game actions you take may also be logged, only directly associated with your account UUID/name. We also store all data you explicitly enter such as your character preferences in-game.

<p>
Connection logs (including IP/HWID) are shared with trusted server administrators for enforcement of server rules such as, but not limited to, enforcing server bans. Connection logs are not shared publically.

<p>
Logs of in-game actions may be made public for anybody to view, once again for the purposes of rule enforcement. This includes private conversations had with server administrators in-game.

<h2 id="forum">Forum Privacy Policy</h2>

<p>
This section of the privacy policy applies only if you use our <a href="https://forum.spacestation14.io/">first-party forum</a>.

<p>
We store all data you submit on the forum.

<p>
Your forum account is directly tied to your main SS14 account, and forum administrators have access to data such as your email address necessary for the forum to function.

<p>
We also store IP addresses associated with actions such as posts or spam defense logs for up to 30 days.

<h2 id="contact">Contact</h2>

<p>
See our <a asp-area="" asp-controller="Home" asp-action="Contact">contact</a> page for any questions you may have.
