@page
@model SS14.Web.Areas.Admin.Pages.Users.ConfirmDelete

@{
    ViewData["Title"] = $"Delete {Model.SpaceUser.UserName}?";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Hub Admin</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index">Users</a></li>
        <li class="breadcrumb-item "><a asp-page="./ViewUser" asp-route-id="@Model.SpaceUser.Id">@Model.SpaceUser.UserName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Confirm Deletion</li>
    </ol>
</nav>

<form method="post">
    <button id="delete-button" type="submit" asp-page-handler="Delete" asp-route-id="@Model.SpaceUser.Id" class="btn btn-danger">Yes Rico, Kaboom</button>
</form>