@page
@model SS14.Web.Areas.Admin.Pages.Users.EditPassword

@{
    ViewData["Title"] = $"Edit password: {Model.SpaceUser.UserName}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Hub Admin</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index">Users</a></li>
        <li class="breadcrumb-item "><a asp-page="./ViewUser" asp-route-id="@Model.SpaceUser.Id">@Model.SpaceUser.UserName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit password</li>
    </ol>
</nav>

<form method="post" class="container">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Input.Password" class="col-sm-2 col-form-label"></label>
        <input asp-for="Input.Password" class="form-control col-sm-10"/>
    </div>
    
    <button id="save-button" type="submit" asp-page-handler="Save" asp-route-id="@Model.SpaceUser.Id" class="btn btn-primary btn-sm">Save</button>
</form>