/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
  background-color: #25252A;
  color: #EEEEEE;
}

strong {
  font-weight: bold;
}

.bg-dark {
  /* Bootstrap is also using fucking !important so not my problem */
  background-color: #212126 !important;
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #EEEEEE;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.monotype {
  font-family: var(--font-family-monospace);
}

/* Provide sufficient contrast against white background */
a {
  color: #5e92d0;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

nav.navbar {
  border-bottom: 2px solid #ADA24B;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 2px solid #25252a !important;
}
.border-bottom {
  border-bottom: 2px solid #25252a !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
  background-image: url("../stripeback.svg");
  border-top: 2px solid #525252 !important;
}


.form-control, .form-control:focus {
  background-color: #181828;
  border-color: #383845;
  color: #ddd;
}
/*
.input-group-text {
  background-color: #21212a;
  color: #ddd;
}*/

.form-control:disabled, .input-group-text  {
  background-color: #181821;
  border-color: #30303a;
  color: #888888;
}

.breadcrumb {
  background-color: #212126;
}

.breadcrumb-item.active {
  color: #EEEEEE;
}

.alert-success {
  background-color: hsl(134, 61%, 17%);
  border-color: hsl(133, 60%, 19%);
  color: #d4edda;
}

.alert-danger {
  background-color: hsl(353, 60%, 17%);
  border-color: hsl(353, 60%, 19%);
  color: #f8d7da;
}

/* LIST GROUP STUFF */

.list-group-item {
  background-color: #212126;
}

.list-group-item-success {
  background-color: hsl(134, 61%, 17%);
  color: #d4edda;
}

/* CONSENT PAGE STUFF */

.consent-wrap {
  filter: drop-shadow(-1px 6px 3px rgba(20, 0, 0, 0.5));
}

.consent-contents {
  background: #212126;
  padding: 10px;
  clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, 100% 100%, 16px 100%, 0 calc(100% - 16px));
}

/* QR code on 2FA setup screen */
.two-fa-qr-code-wrap {
  border-radius: 3px;
  background-color: white;
  padding: 6px;
  display: inline-block;
}

.text-secondary, .text-muted {
  color: #9eaab5 !important;
}