@using Microsoft.Extensions.Options
@using SS14.Web.HCaptcha
@inject IOptions<HCaptchaOptions> Options

@if (Options.Value.SiteKey != "")
{
    <div class="h-captcha" data-sitekey="@(Options.Value.SiteKey)"></div>
}
