@page
@model SS14.Web.Areas.Identity.Pages.Account.Manage.Developer

@{
    ViewData["Title"] = "Developer settings";
    ViewData["ActivePage"] = ManageNavPages.Developer;
}

<h4>@ViewData["Title"]</h4>

<div class="d-flex align-items-center">
    <h5 class="flex-grow-1">Manage OAuth Apps</h5>
    <a asp-page="./OAuthApps/Create" class="btn btn-success btn-sm">New OAuth App</a>
</div>

<p>
    See <a href="https://docs.spacestation14.com/en/server-hosting/oauth.html">the documentation</a> for relevant information.
</p>

<div class="list-group-flush">
    @*@foreach (var app in Model.OAuthClients)
    {
        TODO: Replace identityserver4 code in this file

        <a asp-page="./OAuthApps/Manage" asp-route-client="@app.UserOAuthClientId" class="list-group-item">@app.Client.ClientName</a>
    }*@
</div>
