@page
@model SS14.Web.Areas.Admin.Pages.Servers.Index

@{
    ViewData["Title"] = "Servers home";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Hub Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Servers</li>
    </ol>
</nav>

<a asp-page="./ListActive" class="btn btn-primary">Active Servers</a>
