@page
@model SS14.Web.Areas.Admin.Pages.Servers.Index

@{
    ViewData["Title"] = "Servers home";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Hub Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Servers</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <a asp-page="./ListActive" class="btn btn-primary">Active Servers</a>
        <a asp-page="./ListNames" class="btn btn-primary">Server Names</a>
        <a asp-page="./Communities/Index" class="btn btn-primary">Tracked Communities</a>
        <a asp-page="./AuditLog" class="btn btn-primary">Audit Log</a>
    </div>
</div>
