@page
@using SS14.Web.Areas.Identity.Pages.Account
@model AdminLockedModel
@{
    ViewData["Title"] = "Account locked";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked by an administrator. Please contact support if you believe this to be an error.</p>
</header>
