@page
@using SS14.Web.Areas.Identity.Pages.Account
@model LockoutModel
@{
    ViewData["Title"] = "Email change required";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account needs a new email to be set before you can use it again. Please change it below.</p>
</header>
