@page
@using SS14.Web.Areas.Identity.Pages.Account
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to confirm your account.
    If you do not confirm your account within 24 hours, it will be automatically deleted.
</p>
